body {
    margin:0;
    display:grid;
    grid-template-rows: 1fr 25px;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    min-width: 100vh;
}
a{
    color:black;
}
a:link{
    text-decoration: none;
}
#nav{
    background-color: #2E1114;
	display:grid;
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:1;
	grid-column-end:3;
	
}
#sideNav{
    background-color:rgb(176,176,177);
	display:grid;
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:1;
	grid-column-end:2;
	grid-template-rows: 150px 1fr 75px;
	background-color: #2E1114;
	/*border-right-style:inset;*/
}
#sideNav h2{
    color:white;
}
#home{
    grid-row-start: 1;
    grid-row-end:2;
}
#navigation{
    grid-row-start:2;
    grid-row-end:3;
}
#signOut{
    display:flex;
    grid-row-start:3;
    grid-row-end:4;
    color: white;
    justify-content:center;
}

.main{
    display:grid;
    grid-template-rows: 1fr 25px;
}
#listingContent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end:2;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
}
#copyright{
    display:grid;
    grid-row-start:2;
    grid-row-end:3;
    background-color:#212121;
    color:#fff;
}

#name{
    display:grid;
    grid-row-start:1;
    grid-row-end:2;
    /*border-bottom-style: inset;*/
}

#profilebutton{
    display:flex;
    grid-row-start:2;
	grid-row-end:3;
	justify-content:center;
	/*border-bottom-style: inset;*/
}
#profilebutton :hover{
    background-color:rgb(112,112,114);
}
#listingsbutton{
    /*background-color:black;*/
    display:flex;
    grid-row-start:3;
	grid-row-end:4;
	justify-content:center;
	/*border-bottom-style: inset;*/
}
#listingsbutton :hover{
    background-color: rgb(112, 112, 114);
}
#viewlisting{
    display:flex;
    grid-row-start:4;
    grid-row-end:5;
    justify-content:center;
    /*border-bottom-style: inset;*/
}
#viewlisting :hover{
    background-color: rgb(112, 112, 114);
}
#logo{
	height: 100%;
}

input:focus{
    border: 3px solid #2E1114;
}
button{
    
}
#createListing {
    height: 250px;
    width: 250px;
    font-size: 24px;
    cursor: pointer;
}

#createListing:hover {
    background: #ccc;
}
.button{
    background:transparent;
    border: none;
    color: white;
    cursor:pointer;
    overflow:hidden;
    font-size: 20px;
}