body {
    display:grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    min-width: 100vh;
}
a{
    color:black;
}
a:link{
    text-decoration: none;
}
#nav{
    background-color: #2E1114;
	display:grid;
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:1;
	grid-column-end:3;
	
}
#sideNav{
    background-color:rgb(176,176,177);
	display:grid;
	grid-row-start:2;
	grid-row-end:3;
	grid-column-start:1;
	grid-column-end:2;
}
.main{
    display:flex;
    align-items:center;
    justify-content:center;
}
#logo{
	height: 70%;
}